@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400|Fira+Sans:300,400');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.book .book-body .page-wrapper .page-inner section {
  line-height: 1.7;
  font-size: 1.6rem;
}

p, div {
  font-family: 'Fira Sans', serif;
  font-size: 1.6rem;
}

li {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
}

code, kbd, pre, samp, .sourceLine, .sourceCode {
  font-family: 'Fira Sans', monospace;
  font-size: 1em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
